*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(Space.tga_.jpg);
    background-size: cover;
    animation: translaçao 20s linear infinite;
}
.globo{
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    background: url(extra_large-1504279459-cover-image.webp);
    background-size: cover;
    box-shadow: -25px -25px 25px black inset, 0px 0px 20px inset white 0px 0px 40px blue;
    animation: rotacionar 10s linear infinite;
    display: flex;
}
@keyframes rotacionar{
    to {
        background-position: -200%;
    }
}
@keyframes translaçao{
    0% {
        background-position: 0%;
    }
    100%{
        background-position: -1000;
    }
}   